VITE_SUPABASE_URL=https://ixjteqeweyevwrgawcdi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml4anRlcWV3ZXlldndyZ2F3Y2RpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyMDMyMDAsImV4cCI6MjA4OTc3OTIwMH0.tSRNfE-gJaN3QUCxwKMV2CGtBNw47QtNOsaTOkeAkp4
VITE_N8N_WEBHOOK_URL=https://n8n.medaddai.com/webhook/9231e2f8-c81f-45b1-acde-085600cf77a3
